
@{
    ViewBag.Title = "Citation";
}

>

<form>

    <div class="form-row">
        <div class="form-group description-header">
            <br />
            <h3><u> Citation (Grounds of Recommendations)</u></h3>
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="Achievement">
                a) Please state what the nominee has achieved which makes
                them stand out from others and make it clear if the achievement is in the area or in a number of different areas:
            </label>

            <textarea name="Achievement" rows="6" cols="100"> Enter Achievement here ....</textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="Engagement">
                b) Please list the posts or engagements,with start and end dates,in which the nominee has excelled:
            </label>

            <textarea name="Engagement" rows="6" cols="100"> List the posts or engagements here..</textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="OtherContributions">
                c) Please list any other ways in which the nominee's contribution has been recognized elsewhere
                (For example in the media,by other awards, professional/interest groups):
            </label>

            <textarea name="OtherContributions" rows="6" cols="100"> List Other contributions here..</textarea>
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col-md-12">
            <label for="Recommendedhonour">Recommended honours</label>
            <select id="Recommendedhonour" class="form-control" style="width:unset">
                <option selected>Choose...</option>
                <option>honor 1</option>
                <option>honor 2</option>
                <option>honor 1</option>
            </select>
        </div>
            
    </div>
    





        <div class="form-row">
            <div class="form-group col-md-6">

                <button type="submit" class="btn btn-default"><< Previous</button>

            </div>
            <div class="form-group col-md-6">

                <button type="submit" class="btn btn-default">Next >></button>

            </div>
        </div>

</form>