
@{
    ViewBag.Title = "NominationPeriod";
}



<div class="form-row">
    <div class="form-group description-header">
        <br />
        <h3><u> Add Nomination Period</u></h3>
    </div>

</div>

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Name">Name </label>
            <input type="text" class="form-control" id="Name" placeholder="Name">
        </div>
        <div class="form-group col-md-6">
            <label for="Month">Month</label>
            <select id="Month" class="form-control">
                <option selected>Choose...</option>
                <option>January</option>
                <option>February</option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>
            </select>
        </div>

    </div>


    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Year">Year </label>
            <input type="text" class="form-control" id="Year" placeholder="Year">
        </div>
        <div class="form-group col-md-12">
        
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-6">

            <button type="submit" class="btn btn-default"> Save</button>

        </div>
        <div class="form-group col-md-6">

            <button type="submit" class="btn btn-danger">Clear</button>

        </div>
    </div>

</form>



